/* Reset some default styling */
body,h1,p {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: cyan;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: cursive;
}

.Dice {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

img {
    width: 100px;
    height: 100px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}